{% extends "users/dashboard.html" %}

{% block title %}My bookings{% endblock %}
{% block content %}

<div class="container">

  {% block messages %}
    {% include "users/messages/message.html" %}
  {% endblock messages %}

  {% if page_obj %}
  <div class="row mt-4">
    <h2>Happy Holidays, {{ user.first_name }}!! </h2>
  </div>
  <div class="row">
    {% for booking in page_obj %}
    <div class="col-12 mt-4">
      <div class="card">
        <div class="card-header">
          Booking ID: {{ booking.id }}
        </div>
        <div class="card-body">
          <div class="booking-info d-flex flex-row justify-content-between">
            <h5 class="card-title">{{ booking.products.first }} x {{ booking.products.count }}</h5>
            <p class="card-text">Reserved time: {{ booking.get_duration_display }}</p>
            <p class="card-text">Date: {{ booking.date|date:"l, d/m/Y" }}</p>
            <h5 class="card-title">{{ booking.price }}€</h5>
          </div>
          <div>
            <p> Your hammocks:
              {% for product in booking.products.all %}
              {{ product.id }}{% if not forloop.last %},{% endif %}
              {% endfor %}
            </p>
          </div>
          <div class="row user-actions">
            <div class="col-6">
              <a href="{% url "booking:booking_pdf" user.username booking.id %}" class="btn btn-primary">Download PDF</a>
            </div>
            <div class="col-6 d-flex justify-content-end">
              <a href="{% url "booking:delete_booking" user.username booking.id %}" class="delete-btn btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteModal">Delete booking</a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel">Delete booking ID: {{booking.id}}</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            Are you sure you want to delete this booking?
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
            <a href="{% url "booking:delete_booking" user.username booking.id %}" class="delete-btn btn btn-danger">Confirm</a>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}

    {% block paginator %}
      {% include "users/pages/paginator.html" %}
    {% endblock paginator %}

  </div>
  {% else %}
  <div class="row">
    <div class="col-12 d-flex justify-content-center align-items-end p-5">
      <h3>Looks like you haven't made any reservations yet, start your break <a href="{% url 'booking:client_book_filter' user.username %}">here</a></h3>
    </div>
  </div>
  {% endif %}
</div>

{% endblock content %}

{% block domready %}
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
{% endblock domready %}