{% extends "users/dashboard.html" %}

{% block title %}My bookings{% endblock %}
{% block content %}

<div class="container">
  {% if bookings %}
  <div class="row">
    {% for booking in bookings %}
    <div class="col-12 mt-5">
      <div class="card">
        <div class="card-header">
          Booking ID: {{ booking.id }}
        </div>
        <div class="card-body">
          <div class="booking-info d-flex flex-row justify-content-between">
            <h5 class="card-title">{{ booking.products.first }} X {{ booking.products.count }}</h5>
            <h5 class="card-title">{{ booking.price }}€</h5>
            <p class="card-text">Reserved time: {{ booking.get_duration_display }}</p>
            <p class="card-text">Date: {{ booking.date }}</p>
          </div>
          <div>
            <p>
              {% for product in booking.products.all %}
              {{ booking.products.first }}  {{ product.id }}
              {% endfor %}

            </p>
          </div>

          <div class="user-actions">
            <div class="col-8">
              <a href="{% url "booking:booking_pdf" user.username booking.id %}" class="btn btn-primary">Download PDF</a>
              <a href="#" class="btn btn-primary">Edit booking</a>
            </div>
            <div class="col-4">
              <a href="#" class="btn btn-danger d-flex justify-content-end">Delete booking</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
  {% else %}
  <div class="row">
    <div class="col-12 d-flex justify-content-center align-items-end p-5">
      <h3>Looks like you haven't made any reservations yet, start your break <a href="{% url 'booking:client_book' request.user.username %}">here.</a></h3>
    </div>
  </div>
  {% endif %}
</div>

{% endblock content %}