{% extends "users/dashboard.html" %}

{% block title %}Book your hammocks{% endblock title %}
{% block content %}

    <div class="container">

        {% block messages %}
            {% include "users/messages/message.html" %}
        {% endblock messages %}

        <div class="row mt-4 text-center">
            <h2>Choose your date and time slot:</h2>
        </div>
        <form method="post">
            {% csrf_token %}
            <div class="row mt-4">
                <div class="col-12 d-flex justify-content-center">
                    <div class="reservation-form-filter">
                        <p class="d-flex flex-column">
                            <label>Date:</label>
                            {{ form.date }}
                        <p class="d-flex flex-column">
                            <label>Time slot:</label>
                            {{form.duration}}
                        </p>
                        <button type="submit" class="btn btn-primary">Next</button>
                        <hr>
                    </div>
                </div>
            </div>
            
        </form>
    </div>

{% endblock content %}