{% extends "users/dashboard.html" %}

{% block title %}Book your hammocks{% endblock title %}
{% block content %}

    <div class="container">

        {% block messages %}
            {% include "users/messages/message.html" %}
        {% endblock messages %}

        <div class="row mt-4 text-white text-center d-flex flex-row">
            <a href="javascript:history.back()" class="d-flex align-items-center pt-2 pb-2 text-end text-decoration-none">
                <span class="material-symbols-outlined m-0 text-end text-white">
                    arrow_back
                </span>
            </a>
            <h2>Choose your date and time slot:</h2>
        </div>
        <form method="post">
            {% csrf_token %}
            <div class="row mt-4">
                <div class="col-12 d-flex justify-content-center">
                    <div class="reservation-form-filter">
                        <p class="d-flex flex-column">
                            <label class="text-white">Date:</label>
                            {{ form.date }}
                        <p class="d-flex flex-column">
                            <label class="text-white">Time slot:</label>
                            {{form.duration}}
                        </p>
                        <button type="submit" class="text-white btn btn-dark border rounded border-white">Next</button>
                        <hr class="text-white">
                    </div>
                </div>
            </div>
            
        </form>
    </div>

{% endblock content %}