{% extends "managers/base.html" %}
{% block content%}
<div class="search-container mt-4">
  <form class="d-flex" role="search">
      <input type="text" id="search-bookings-field" class="search-bar" placeholder="Find something...">
      <button type="submit" id="search-bookings-btn" class="search-button">Find</button>
      {% csrf_token %}
  </form>
</div>
  <div class="container-fluid2">
    <div class="black-box2 mt-4">
      {% for booking in bookings %}

        <div class="user-card">
          <div class="user-info">

            <table>
              <td><a href="{% url "users:manager_bookings_edit" booking.id %}">{{ booking.id }}</a></td>
              <td>{{ booking.user }}</td>
              <td>{{ booking.product }}</td>
              <td>{{ booking.price }}</td>
              <td>{{ booking.duration }}</td>
              <td>{{ booking.timestamp }}</td>
            </table>
          </div>
        </div>
      {% endfor %}

    </div>

  </div>
  {% include "managers/pagination-bookings.html" with bookings=bookings %}
  <script>
    document.addEventListener("DOMContentLoaded", (event) => {
      document
        .querySelector("#search-bookings-btn")
        .addEventListener("click", (event) => {
          event.preventDefault();
          const data = document.querySelector("#search-bookings-field").value;
          window.location.href = `/manager/bookings/search/${data}/`;
      });
    });
  </script>
{% endblock %}



