{% extends "managers/base.html" %}

{% block content%}
<div class="bookings-container">
  <table class="table table-striped table-dark">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Username</th>
        <th scope="col">Name</th>
        <th scope="col">Email</th>
        <th scope="col">Hammocks</th>
        <th scope="col">Price</th>
        <th scope="col">Duration</th>
        <th scope="col">Date</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      {% for booking in page_obj %}
      <tr>
        <th scope="row">{{ booking.id }}</th>
        <td>{{ booking.user }}</td>
        <td>{{ booking.user.fullname }}</td>
        <td>{{ booking.user.user.email }}</td>
        <td>{% for product in booking.products.all %}
              {{ product.id }}{% if not forloop.last %},{% endif %}
            {% endfor %}
        </td>
        <td>{{ booking.price }} €</td>
        <td>{{ booking.get_duration_display }}</td>
        <td>{{ booking.date|date:"d/m/Y" }}</td>
        <td>
          <a href="{% url 'users:manager_bookings_delete' booking.id %}" class="btn btn-danger btn-sm" data-bs-toggle="modal" data-bs-target="#deleteModal{{ booking.id }}">
            <span class="material-icons">
            delete
            </span>
          </a>
        </td>
      </tr>
      {% include "users/messages/delete_booking_modal.html" %}
      {% endfor %}
    </tbody>
  </table>
</div>
  {% include "managers/admin_paginator.html" %}

  {% block domready %}
  {% endblock domready %}
{% endblock %}
