{% extends "managers/base.html" %}
{% block content %}

<div class="container-fluid py-4">
  <div class="row">
    <div class="col-2"></div>

    <div class="col-md-8">
      <div class="card user-card add-user-card">
        <div class="card-body">
          <div class="user-name-card">
            <a href="{% url 'users:manager_products_add' %}">
              <div class="add-account">+</div>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-2"></div>

          {% for product in products %}
            {% if forloop.counter|divisibleby:2 == False %}
              <div class="col-2"></div>
            {% endif %}
          <div class="col-4">
            <div class="card user-card">
              <div class="card-body">
                <h5 class="card-title"><a href="{% url 'users:manager_products_edit' product.id %}">{{ product.name }}</a></h5>
                <p class="card-text">ID: {{ product.id }}</p>
                <p class="card-text">Price: {{ product.price }}</p>
                <p class="card-text">Status: {{ product.status }}</p>
              </div>
            </div>
          </div>
          {% if forloop.counter|divisibleby:2%}
        <div class="col-2"></div>
        {% endif %}
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>
{% include "managers/pagination-products.html" with products=products %}

{% endblock %}