<!DOCTYPE html>
<html lang="en">
  <head>
    <script src="https://kit.fontawesome.com/42d5adcbca.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Round" rel="stylesheet">
    <link href="../assets/css/styles.css" rel="stylesheet" />
  </head>
<body>
  <nav class="navbar navbar-main navbar-expand-lg px-0 mx-4 bg-gradient-dark border-radius-xl mt-4" id="navbarBlur">
    <div class="container-fluid py-1 px-3">
        <div class="collapse navbar-collapse mt-sm-0 mt-2 me-md-0 me-sm-4" id="navbar">
            <div class="ms-md-auto pe-md-3 d-flex align-items-center">
            </div>
            <li class="nav-item d-flex align-items-center">
                <a href="#" class="nav-link text-body font-weight-bold">
                    <i class="fa fa-user me-sm-1"></i>
                    <span class="d-sm-inline d-none">Sign Out</span>
                </a>
            </li>
        </div>
    </div>
</nav>

  <aside class="sidenav navbar navbar-vertical navbar-expand-xs border-0 border-radius-xl my-3 fixed-start ms-3 bg-gradient-dark">

    <div class="sidenav-header text-center">
      <i class="fas fa-times  cursor-pointer text-white opacity-5 position-absolute end-0 top-0 d-none d-xl-none"></i>
      <a class="navbar-brand m-0" target="_blank">
        <img src="../assets/imgs/logo.svg" class="logo">
      </a>
  </div>
  


  <hr class="horizontal light mt-0 mb-2">

  <div class="collapse navbar-collapse  w-auto " id="sidenav-collapse-main">
    <ul class="navbar-nav">

          
<li class="nav-item">
  <a class="nav-link text-white " href="../index.html">
    
      <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
        <i class="material-icons opacity-10">dashboard</i>
      </div>
    
    <span class="nav-link-text ms-1">Dashboard</span>
  </a>
</li>

  
<li class="nav-item">
  <a class="nav-link text-white " href="./bookings.html">
    
      <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
        <i class="material-icons opacity-10">beach_access</i>
      </div>
    
    <span class="nav-link-text ms-1">Bookings</span>
  </a>
</li>

  
<li class="nav-item">
  <a class="nav-link text-white " href="./products.html">
    
      <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
        <i class="material-icons opacity-10">inventory_2</i>
      </div>
    
    <span class="nav-link-text ms-1">Products</span>
  </a>
</li>

  
<li class="nav-item">
  <a class="nav-link text-white " href="./users.html">
    
      <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
        <i class="material-icons opacity-10">person_add</i>
      </div>
    
    <span class="nav-link-text ms-1">Users</span>
  </a>
</li>
            
    </ul>
  </div>
  
  <div class="sidenav-footer position-absolute w-100 bottom-0 ">
    <div class="mx-3">
      <a class="btn bg-gradient-primary w-100" href="#" type="button">Support</a>
    </div>
    
  </div>
  
</aside>

<main class="main-content border-radius-lg">
  <div class="container-fluid2">
    <div class="black-box2 mt-4">
      <div class="search-container mt-4">
        <input type="text" class="search-bar" placeholder="Find something...">
        <button type="submit" class="search-button">Find</button>
      </div>
      <div class="user-card">
        <div class="user-name-card">
          <div class="user-name">Editar</div>
        </div>
        <div class="user-info">
          <table>
            <td>Producto 1</td>
            <td>1 €</td>
            <td>Free</td>
          </table>
        </div>
      </div>
      <div class="user-card add-user-card">
        <div class="user-name-card">
          <div class="user-name add-account">+</div>
        </div>
      </div>
    </div>

    <div class="black-box mt-4 d-flex align-items-center justify-content-center flex-column">
      <form id="createform" style="display: none;">
        <input type="text" name="nombre" placeholder="Nombre">
        <input type="text" name="telefono" placeholder="Teléfono">
        <input type="email" name="email" placeholder="Email">
        <button class="btn btn-success btn-lg btn-block bg-gradient-primary mb-4">Create Product</button>
      </form>
      
      <form id="editform" style="display: none;">
        <input type="text" name="nombre_edit" placeholder="Nuevo Nombre">
        <input type="text" name="telefono_edit" placeholder="Nuevo Teléfono">
        <input type="email" name="email_edit" placeholder="Nuevo Email">
        <button class="btn btn-success btn-lg btn-block bg-gradient-primary mb-4">Save Product</button>
        <button class="btn btn-success btn-lg btn-block bg-gradient-primary mb-4">Delete Product</button>

      </form>

      <div id="confirmationModal" class="confirmation-modal">
        <div class="confirmation-content">
          <p>¿Are you sure about making these changes?</p>
          <button id="confirmYes">Yes</button>
          <button id="confirmNo">No</button>
        </div>
      </div>
    </div>

  </div>
</main>

</body>
<footer class="bg-gradient-dark text-white text-center py-4 border-radius-xl pt-5 fixed-bottom mx-3 end-0">

</footer>
<script>
  var userNameDiv = document.querySelector('.add-account')
  var createForm = document.getElementById('createform')
  var editForm = document.getElementById('editform')
  
 
  userNameDiv.addEventListener('click', function() {
    createForm.style.display = 'block'
    editForm.style.display = 'none' 
  })
  

  var editButton = document.querySelector('.user-name')
  editButton.addEventListener('click', function() {
    editForm.style.display = 'block'
    createForm.style.display = 'none' 
  })

  var saveButtons = document.querySelectorAll('form button')
  var confirmationModal = document.getElementById('confirmationModal')
  var confirmYesButton = document.getElementById('confirmYes')
  var confirmNoButton = document.getElementById('confirmNo')

  saveButtons.forEach(function(button) {
    button.addEventListener('click', function(event) {
      event.preventDefault()
      confirmationModal.style.display = 'block'
    })
  })

  confirmYesButton.addEventListener('click', function() {
    confirmationModal.style.display = 'none'
  })

  confirmNoButton.addEventListener('click', function() {
    confirmationModal.style.display = 'none'
  })
</script>

