{% extends "managers/base.html" %}
{% block content %}
<div class="admin-head d-flex flex-row ">
  <a href="javascript:history.back()" class="d-flex align-items-center ps-4 pt-4 pb-0 text-end">
      <span class="material-symbols-outlined m-0 text-end text-white">
          arrow_back
      </span>
  </a>
  <h2 class="font-weight-bolder p-4 pb-0 m-0 text-start text-white">Create products</h2>
</div>

<div class="form-container d-flex justify-content-start col-12 p-4">
  <form action="{% url "users:manager_products_add" %}"  method="post" id="edit-user-form" class="col-10" novalidate>
      {% csrf_token %}
      <div class="form-group d-flex flex-lg-row flex-column mb-4">
          <div class="django-label col-lg-1 col-12 pe-2 pt-2 pt-lg-0">
              Name: 
          </div>
          <div class="django-input pe-4">
              {{ product_add_form.name }}
          </div>
      </div>
      <div class="form-group d-flex flex-lg-row flex-column mb-4">
          <div class="django-label col-1 pe-2">
              Price:
          </div>
          <div class="django-input pe-4">
              {{ product_add_form.price }}
          </div>
      </div>
      <div class="form-group d-flex flex-lg-row flex-column mb-4">
        <div class="django-label col-1 pe-2">
            Quantity:
        </div>
        <div class="django-input pe-4">
            {{ product_add_form.quantity }}
        </div>
    </div>
      <button class="btn btn-block bg-warning justify-content-center" type="submit">Create</button>
  </form>
</div>
{% endblock %}