{% extends "managers/base.html" %}

{% block title %}Search{% endblock title %}

{% block content %}

{% load model_name %}
{% if clients %}
<h2 class="font-weight-bolder p-2 p-4 m-0 text-center text-white">Clients</h2>
<div class="clients-container">
    <table class="table table-striped table-dark">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Username</th>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">Nº Guest</th>
            <th scope="col">Reservations ID</th>
            <th scope="col">Joined</th>
            <th scope="col">Last Login</th>
            <th scope="col">Action</th>
        </tr>
    </thead>
    <tbody>
    {% for client in clients %}
        <tr>
            <th scope="row">{{ client.id }}</th>
            <td>{{ client.user.username }}</td>
            <td>{{ client.user.get_full_name }}</td>
            <td>{{ client.user.email }}</td>
            <td>{{ client.num_guest }}</td>
            <td>{% for booking in client.bookings.all %}
                    {{ booking.id }}{% if not forloop.last %},{% endif %}
                    {% endfor %}
            </td>
            <td>{{ client.user.date_joined|date:"d/m/Y, H:m" }}</td>
            <td>{% if client.user.last_login is None %}
                Not yet logged in
                {% else %}
                {{ client.user.last_login|date:"d/m/Y, H:m" }}
                {% endif %}
            </td>
            <td>
            <a href="{% url 'users:manager_users_edit' client %}" class="btn btn-warning btn-sm mb-1 mb-lg-0">
                <span class="material-icons">
                    edit
                </span>
                </a>
                <a href="{% url "users:manager_users_delete" client %}" class="btn btn-danger btn-sm mb-1 mb-lg-0" data-bs-toggle="modal" data-bs-target="#deleteModal{{ client }}">
                <span class="material-icons">
                    delete
                </span>
                </a>
            </td>
        </tr>
        {% include "users/messages/delete_user_modal.html" %}
        {% endfor %}
    </tbody>
    </table>
</div>
{% endif %}
{% if bookings %}
<h2 class="font-weight-bolder p-4 pt-2 m-0 text-center text-white">Reservations</h2>
<div class="bookings-container">
    <table class="table table-striped table-dark">
    <thead>
    <tr>
        <th scope="col">ID</th>
        <th scope="col">Username</th>
        <th scope="col">Name</th>
        <th scope="col">Email</th>
        <th scope="col">Hammocks ID</th>
        <th scope="col">Price</th>
        <th scope="col">Duration</th>
        <th scope="col">Date</th>
        <th scope="col">Action</th>
    </tr>
    </thead>
    <tbody>
    {% for booking in bookings %}
        <tr>
        <th scope="row">{{ booking.id }}</th>
        <td>{{ booking.user }}</td>
        <td>{{ booking.user.fullname }}</td>
        <td>{{ booking.user.user.email }}</td>
        <td>{% for product in booking.products.all %}
                {{ product.id }}{% if not forloop.last %},{% endif %}
            {% endfor %}
        </td>
        <td>{{ booking.price }} €</td>
        <td>{{ booking.get_duration_display }}</td>
        <td>{{ booking.date|date:"d/m/Y" }}</td>
        <td>
        <a href="{% url 'users:manager_bookings_delete' booking.id %}" class="btn btn-danger btn-sm" data-bs-toggle="modal" data-bs-target="#deleteModal{{ booking.id }}">
            <span class="material-icons">
            delete
            </span>
        </a>
        </td>
        </tr>
        {% include "users/messages/delete_booking_modal.html" %}
        {% endfor %}
    </tbody>
    </table>
</div>
{% endif %}

{% if clients|length == 0 and bookings|length == 0 %}
    <h2 class="text-center text-white mt-4">No results found.</h2>
{% endif %}

{% include "managers/paginator.html" %}
{% endblock %}


