{% extends "managers/base.html" %}
{% load static %}
{% block content %}


{% load model_name %}
<div class="container-fluid py-4">
    <div class="row">
    {% for client in page_obj %}
    <div class="col-xxl-3 col-md-6 col-12">
        <div class="card-body text-white mb-4">
        <h2 class="card-title text-center"><b>{{ client.user.username.upper }}</b></h2>
        <p class="card-text"><b>Full Name:</b> {{ client.user.get_full_name }}</p>
        <p class="card-text"><b>Email:</b> {{ client.user.email }}</p>
        <p class="card-text"><b>Number of Guests:</b> {{ client.num_guest }}</p>
        {% if client.user.last_login is None %}
            <p class="card-text"><b>Joined:</b> {{ client.user.date_joined }}</p>
        {% else %}
            <p class="card-text"><b>Last Login:</b> {{ client.user.last_login }}</p>
        {% endif %}
        {% if client.bookings %}
            <p>Bookings:
            {% for booking in client.bookings.all %}
                {{ booking.id }}{% if not forloop.last %},{% endif %}
            {% endfor %}
            </p>
        {% endif %}
        <a href="{% url 'users:manager_users_edit' client %}" class="btn btn-warning ml-auto">Edit</a>
        </div>
    </div>
    {% endfor %}
    </div>
    {% include "managers/paginator.html" %}
</div>
{% endblock %}


