{% extends "managers/base.html" %}
{% block content %}
<div class="container pt-4">
    <div class="row justify-content-center">
        <div class="col-xs-8 col-sm-2"></div>
        <div class="col-md-8 col-xs-4 col-sm-4">
            <div class="card edit mt-4">
                <div class="card-body edit">
                    <form action="{% url 'users:manager_users_edit' client %}" method="post" id="editForm">
                        {% csrf_token %}
                        <div class="form-group">
                            <div class="custom-input">
                                <i class="fas fa-user"></i> Username: {{ user_edit_form.username }}
                            </div>
                        </div>
                        <br>
                        </br>
                        <div class="form-group">
                            <div class="custom-input">
                                <i class="fas fa-user"></i> First Name: {{ user_edit_form.first_name }}
                            </div>
                        </div>
                        <br>
                        </br>
                        <div class="form-group">
                            <div class="custom-input">
                                <i class="fas fa-user"></i> Last Name: {{ user_edit_form.last_name }}
                            </div>
                        </div>
                        <br>
                        </br>
                        <div class="form-group">
                            <div class="custom-input">
                                <i class="fas fa-envelope"></i> Email: {{ user_edit_form.email }}
                            </div>
                        </div>
                        <br>
                        </br>
                        <div class="form-group">
                            <div class="custom-input">
                                <i class="fas fa-sort-numeric-up"></i> Number of Guests: {{ user_edit_form.num_guest }}
                            </div>
                            {{ user_edit_form.password }}
                        </div>
                        <br>
                        </br>
                        <button class="btn-lg btn-block bg-warning salvar" type="submit">Save Changes</button>
                    </form>
                        <form action="{% url "users:manager_users_delete" client %}" method="post" id="createform">
                            {% csrf_token %}

                        <button class="btn btn-danger btn-lg btn-block bg-gradient-danger deletear" type="submit">Delete User</button>
                        </form>

                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}