{% extends "managers/base.html" %}
{% block content%}
<main class="main-content border-radius-lg">
  <div class="container-fluid2">
    <div class="black-box2 mt-4">
      <div class="search-container mt-4">
        <input type="text" class="search-bar" placeholder="Find something...">
        <button type="submit" class="search-button">Find</button>
      </div>
      {% for client in clients %}

      <div class="user-card">
        <div class="user-name-card">
          <div class="user-name">Editar</div>
        </div>
        <div class="user-info">

          <table>
            <td>{{ client.user.username }}</td>
            <td>{{ client.user.first_name }} {{ client.user.last_name }}</td>
            <td>{{ client.user.email }}</td>
            <td>{{ client.num_guest }}</td>
            <td>{{ client.user.last_login }}</td>
          </table>
        </div>
      </div>
      {% endfor %}


      <div class="user-card add-user-card">
        <div class="user-name-card">
          <div class="user-name add-account">+</div>
        </div>
      </div>
    </div>

    <div class="black-box mt-4 d-flex align-items-center justify-content-center flex-column">
      <form action="{% url "users:manager_users" %}" method="post" id="createform" style="display:none;">
        {% csrf_token %}
        <div class="form-group">
          <label for="id_username">Username:</label>
          {{ user_form.username }}
        </div>
        <div class="form-group">
          <label for="id_firstandsecondname">Full Name:</label>
          {{ user_form.first_name }} {{ user_form.last_name }}
        </div>
        <div class="form-group">
          <label for="id_email">Email:</label>
          {{ user_form.email }}
        </div>
        <div class="form-group">
          <label for="id_guest">Num Guests:</label>
          {{ user_form.num_guest }}
        </div>
        <br>
        <button class="btn btn-success btn-lg btn-block bg-gradient-primary mb-4" type="submit">Create User</button>
      </form>
      
      <form id="editform" style="display: none;">
        <input type="text" name="nombre_edit" placeholder="Nuevo Nombre">
        <input type="email" name="email_edit" placeholder="Nuevo Email">
        <button class="btn btn-success btn-lg btn-block bg-gradient-primary mb-4">Save User</button>
        <button class="btn btn-success btn-lg btn-block bg-gradient-primary mb-4">Delete User</button>

      </form>

      <div id="confirmationModal" class="confirmation-modal">
        <div class="confirmation-content">
          <p>¿Are you sure about making these changes?</p>
          <button id="confirmYes">Yes</button>
          <button id="confirmNo">No</button>
        </div>
      </div>
    </div>

  </div>
</main>
{% endblock %}