{% extends "managers/base.html" %}
{% block content %}

<div class="user-card add-user-card">
  <div class="user-name-card">
    <a href="{% url "users:manager_users_add" %}"><div class="add-account">+</div></a>
  </div>
</div>
<div class="container-fluid2">

    <div class="black-box2 mt-4">
      {% for client in clients %}

        <div class="user-card">
          <div class="user-info">

            <table>
              <td><a href="{% url "users:manager_users_edit" client %}">{{ client.user.username }}</a></td>
              <td>{{ client.user.get_full_name }}</td>
              <td>{{ client.user.email }}</td>
              <td>{{ client.num_guest }}</td>
              {% if  client.user.last_login is None %}
                <td>{{ client.user.date_joined }}</td>
              {% else %}
                <td>{{ client.user.last_login }}</td>
              {% endif %}
            </table>
          </div>
        </div>
      {% endfor %}


    </div>

  </div>
  {% include "managers/pagination-clients.html" with clients=clients %}
  <script>
    document.addEventListener("DOMContentLoaded", (event) => {
      document
        .querySelector("#search-users-btn")
        .addEventListener("click", (event) => {
          event.preventDefault();
          const data = document.querySelector("#search-users-field").value;
          window.location.href = `/manager/users/search/${data}/`;
        });
    });
  </script>
{% endblock %}
