{% block aside %}
<nav class="navbar-vertical navbar-expand-xs navbar-light bg-gradient-dark p-0 m-0">
    <div class="navbar d-flex flex-column justify-content-start align-items-center" id='aside'>
        <ul class="navbar-nav flex-column mt-3">
            <li class="nav-item d-flex justify-content-lg-start justify-content-center mb-2">
                <a class="nav-link text-white d-flex flex-row pt-2 pb-2" href="{% url "users:manager_dashboard" %}">
                    <i class="material-icons opacity-10 me-lg-2">dashboard</i>
                    <div class="text d-lg-flex d-none">
                        Dashboard
                    </div>
                </a>
            </li>
            <li class="nav-item d-flex justify-content-lg-start justify-content-center mb-2 mt-2">
                <a class="nav-link text-white d-flex flex-row pt-2 pb-2" href="{% url "users:manager_bookings" %}">
                    <i class="material-icons opacity-10 me-lg-2">beach_access</i>
                    <div class="text d-lg-flex d-none">
                        Bookings
                    </div>
                </a>
            </li>
            <li class="nav-item d-flex justify-content-lg-start justify-content-center mb-2 mt-2">
                <a class="nav-link text-white d-flex flex-row pt-2 pb-2" href="{% url "users:manager_products" %}">
                    <i class="material-icons opacity-10 me-lg-2">inventory_2</i>
                    <div class="text d-lg-flex d-none">
                        Products
                    </div>
                </a>
            </li>
            <li class="nav-item d-flex justify-content-lg-start justify-content-center mb-2 mt-2">
                <a class="nav-link text-white d-flex flex-row pt-2 pb-2" href="{% url "users:manager_users" %}">
                    <i class="material-icons opacity-10 me-lg-2">person_add</i>
                    <div class="text d-lg-flex d-none">
                        Users
                    </div>
                </a>
            </li>
            <li class="navbar-footer d-flex justify-content-center align-items-center mt-4 mb-4">
                <div class="support d-flex justify-content-center align-items-center">
                    <a class="btn bg-warning d-flex flex-row justify-content-center pt-2 pb-2" href="#" type="button">
                        <i class="material-icons opacity-10 d-lg-none d-flex">phone</i>
                        <div class="text d-lg-flex d-none">
                            Support
                        </div>
                    </a>
                </div>
            </li>
        </ul>
    </div>
</nav>
{% endblock aside %}
