{% load static %}
<head>
    <script src="https://kit.fontawesome.com/42d5adcbca.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Round" rel="stylesheet">
    <link id="pagestyle" href="{% static 'css/admin.css' %}" rel="stylesheet" />
    <title>{% block title %}Admin-Dashboard{% endblock %}</title>
</head>
<body>

    {% include "managers/nav.html" %}

    {% include "managers/aside.html" %}

    {% block content %}
    {% endblock %}
    
    {% include "managers/footer.html" %}

</body>