{% load static %}
{% block nav %}
<nav class="navbar navbar-main navbar-expand-lg bg-gradient-dark border-radius-xl" id="navbarBlur">
    <div class="container-fluid d-flex navsecond">
            <form class="search-form" action="{% url 'users:manager_search' %}"> 
                <input class="form-control me-2 bg-white search-input" type="search" placeholder="Search..." aria-label="Search" id="search" name="query">
                <button id="search-btn" class="btn btn-light rounded-circle search-btn" type="submit"><i class="fas fa-search search-icon"></i></button>
            </form>
            <a href="{% url "logout" %}" class="nav-link text-body font-weight-bold signout">
                <i class="fa fa-user me-sm-1"></i> Sign Out
            </a>
    </div>
</nav>
{% endblock nav %}


