<div class="container pagination">
    <ul class="pagination-3">
        <li class="page-number">
            {% if clients.has_previous %}
            <a href="?page={{ clients.previous_page_number }}" class="page-link">Previous</a>
            {% endif %}
        </li>
        
        {% for num_page in clients.paginator.page_range %}
            {% if clients.number == num_page %}
                <li class="page-number active">
                    <a class="page-link" href="?page={{ num_page }}">{{ num_page }}</a>
                </li>
            {% else %}
                <li class="page-number">
                    <a class="page-link" href="?page={{ num_page }}">{{ num_page }}</a>
                </li>
            {% endif %}
        {% endfor%}
        <li class="page-number">
            {% if clients.has_next %}
                <a href="?page={{ clients.next_page_number }}" class="page-link">Next</a>
            {% endif %}
        </li>
    </ul>
  </div>