{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}My bookings{% endblock %}</title>
    <link href="{% static 'css/client.css' %}" rel="stylesheet"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">

</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light">
    <div class="container">
      <a class="navbar-brand" href="{% url "booking:booking_list" user.username %}">
        <img src="{% static 'imgs/logo.svg' %}" class="logo" height="50">
      </a>
      <button class="navbar-toggler" type="button" data-mdb-toggle="collapse" data-mdb-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto align-items-center">
          <li class="nav-item m-2">
            <a class="nav-link mx-2 text-dark p-0 {% if section == "My Bookings" %}is-active{% endif %}" href="{% url 'booking:booking_list' request.user.username %}">My Bookings</a>
          </li>
          <li class="nav-item m-2">
            <a class="nav-link mx-2 text-dark p-0 {% if section == "Book" %}is-active{% endif %}" href="{% url 'booking:client_book' request.user.username %}">Book</a>
        </li>
          <li class="nav-item ms-3">
            <a class="btn btn-black btn-rounded" href="{% url 'logout' %}">Log Out</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- bloque de contenidos -->
{% block content %}{% endblock %}



<footer class="footer mt-auto py-3">
  <div class="container text-center">
    <span class="text-black">© 2024 <strong>Jhoola</strong></span>
  </div>
</footer>

<!-- bloque para js -->
{% block domready %}{% endblock %}
</body>


</html>
