*,
*::before,
*::after {
  box-sizing: border-box;
}

hr {
  margin: 1rem 0;
  color: inherit;
  border: 0;
  border-top: 1px solid;
  opacity: 0.25;
}

a {
  text-decoration: none;
}

img {
  vertical-align: middle;
}

.container-fluid {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  width: 100%;
  padding-right: calc(var(--bs-gutter-x) * .5);
  margin-right: auto;
  margin-left: auto;
}

.container-fluid2 {
  display: flex;
  flex-wrap: wrap; 
}

.black-box,
.black-box2 {
  margin: 0 5px; 
}

.black-box {
  flex: 0 0 45%; 
  background-color: #191919;
  height: 745px;
  margin-right: 20px;
}

.black-box2 {
  flex: 1; 
  background-color: #191919;
  height: 745px;
  margin-right: 20px;

}


.confirmation-modal {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: black;
  padding: 20px;
  width: 50%;
  height: 50%;
  border-radius: 10px;
  color: white;
}

.confirmation-content {
  text-align: center;
  margin-top: 150px;
}

.confirmation-content button {
  margin: 0 10px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.confirmation-content #confirmYes {
  background-color: green;
}

.confirmation-content #confirmNo {
  background-color: red;
}

.user-card {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.user-name-card {
  background-color: orange;
  border: 1px solid blue;
  border-radius: 5px;
  padding: 10px; 
  margin-right: 10px;
  margin-top: 20px;
  margin-left: 20px;
  transition: background-color 0.3s, border-color 0.3s, box-shadow 0.3s; 
}

.user-name-card:hover {
  background-color: #e91e63;
  border-color: #e91e63;
  box-shadow: 0 14px 26px -12px rgba(233, 30, 99, 0.4), 0 4px 23px 0 rgba(233, 30, 99, 0.15), 0 8px 10px -5px rgba(233, 30, 99, 0.2);
}

.user-name {
  text-align: center;
  margin: 0;
  width: 100px;
}

.user-info {
  border-collapse: collapse;
  color: white;
}

.user-info table {
  margin-top: 20px;
}

.user-info td {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 4px 8px ;
}


.add-user-card .user-name {
  font-size: 20px; 
  cursor: pointer; 
}

.row {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(-1 * var(--bs-gutter-y));
  margin-right: calc(-.5 * var(--bs-gutter-x));
  margin-left: calc(-.5 * var(--bs-gutter-x));
}

.row>* {
  flex-shrink: 0;
  width: 100%;
  max-width: 100%;
  padding-right: calc(var(--bs-gutter-x) * .5);
  padding-left: calc(var(--bs-gutter-x) * .5);
  margin-top: var(--bs-gutter-y);
}
 
.col-lg-6 {
    flex: 0 0 auto;
    width: 50%;
  }

.navbar {
  width: 98%;
}

.btn {
  --bs-btn-padding-x: 1.5rem;
  --bs-btn-padding-y: 0.625rem;
  --bs-btn-font-size: 0.75rem;
  --bs-btn-font-weight: 700;
  --bs-btn-line-height: 1.667;
  --bs-btn-border-radius: 0.5rem;
  display: inline-block;
  padding: var(--bs-btn-padding-y) var(--bs-btn-padding-x);
  font-size: var(--bs-btn-font-size);
  font-weight: var(--bs-btn-font-weight);
  text-align: center;
  vertical-align: middle;
  border-radius: var(--bs-btn-border-radius);
}

.navbar>.container-fluid {
  display: flex;
  flex-wrap: inherit;
  align-items: center;
  justify-content: space-between;
}

.navbar-nav {
  --bs-nav-link-padding-x: 0;
  --bs-nav-link-padding-y: 0.5rem;
  --bs-nav-link-font-weight: ;
  display: flex;
  flex-direction: column;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

.navbar-collapse {
  flex-basis: 100%;
  flex-grow: 1;
  align-items: center;
}

@media (min-width: 992px) {
  .navbar-expand-lg {
    flex-wrap: nowrap;
    justify-content: flex-start;
  }

  .navbar-expand-lg .navbar-collapse {
    display: flex !important;
    flex-basis: auto;
  }
}


.card>hr {
  margin-right: 0;
  margin-left: 0;
}

.d-flex {
  display: flex !important;
}

.d-none {
  display: none !important;
}

.shadow {
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06) !important;
}

.position-relative {
  position: relative !important;
}

.position-absolute {
  position: absolute !important;
}

.bottom-0 {
  bottom: 0 !important;
}

.border-0 {
  border: 0 !important;
}

.border-0 {
  border-width: 0 !important;
}

.w-100 {
  width: 100% !important;
}

.w-auto {
  width: auto !important;
}

.h-100 {
  height: 100% !important;
}

.flex-column {
  flex-direction: column !important;
}

.justify-content-center {
  justify-content: center !important;
}

.align-items-center {
  align-items: center !important;
}


.mx-3 {
  margin-right: 1rem !important;
  margin-left: 1rem !important;
}

.mx-4 {
  margin-right: 1.5rem !important;
  margin-left: 1.5rem !important;
}

.my-3 {
  margin-top: 1.5rem !important;
  margin-bottom: 1rem !important;
}

.mt-0 {
  margin-top: 0 !important;
}

.mt-2 {
  margin-top: 0.5rem !important;
}

.mt-4 {
  margin-top: 1.5rem !important;
}

.me-2 {
  margin-right: 0.5rem !important;
}

.mb-0 {
  margin-bottom: 0 !important;
}

.mb-2 {
  margin-bottom: 0.5rem !important;
}

.mb-4 {
  margin-bottom: 1.5rem !important;
}

.ms-1 {
  margin-left: 0.25rem !important;
}

.ms-3 {
  margin-left: 1rem !important;
}

.mt-n4 {
  margin-top: -1.5rem !important;
}

.p-3 {
  padding: 1rem !important;
}

.px-0 {
  padding-right: 0 !important;
  padding-left: 0 !important;
}

.py-1 {
  padding-top: 0.25rem !important;
  padding-bottom: 0.25rem !important;
}

.py-4 {
  padding-top: 1.5rem !important;
  padding-bottom: 1.5rem !important;
}

.pt-2 {
  padding-top: 0.5rem !important;
}

.text-end {
  text-align: right !important;
}

.text-center {
  text-align: center !important;
}


.text-white {
  color: #fff !important;
}

.text-body {
  color: #7b809a !important;
}

.bg-transparent {
  background-color: transparent !important;
}


.d-sm-inline {
display: inline !important;
}

.mt-sm-0 {
margin-top: 0 !important;
}

.me-sm-1 {
margin-right: 0.25rem !important;
}

.me-md-0 {
margin-right: 0 !important;
}

.ms-md-auto {
margin-left: auto !important;
}

.btn {
  margin-bottom: 1rem;
  text-transform: uppercase;
  background-size: 150%;
  background-position-x: 25%;
  position: relative;
  overflow: hidden;
}

.btn.bg-gradient-primary:hover {
  background-color: #e91e63;
  border-color: #e91e63;
  box-shadow: 0 14px 26px -12px rgba(233, 30, 99, 0.4), 0 4px 23px 0 rgba(233, 30, 99, 0.15), 0 8px 10px -5px rgba(233, 30, 99, 0.2);
}

.btn.bg-gradient-primary {
  color: #fff;
}

.btn.bg-gradient-primary:hover {
  color: #fff;
}

.card {
  padding-top: 3rem;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

.card .card-header {
  padding: 1.5rem;
}

.card .card-body {
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  padding: 1.5rem;
}

.card.card-plain {
  background-color: transparent;
  box-shadow: none;
}

.logo {
  padding-right: 15px;
}

.bg-gradient-primary {
  background-image: linear-gradient(195deg, #EC407A 0%, #D81B60 100%);
}

.bg-gradient-success {
  background-image: linear-gradient(195deg, #66BB6A 0%, #43A047 100%);
}

.bg-gradient-info {
  background-image: linear-gradient(195deg, #49a3f1 0%, #1A73E8 100%);
}

.bg-gradient-dark {
  background-image: linear-gradient(195deg, #191919 0%, #191919 100%);
}

.material-icons {
  font-family: 'Material Icons Round';
  font-weight: normal;
  font-style: normal;
  font-size: 20px;
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
}

.icon-shape {
  width: 48px;
  height: 48px;
  background-position: center;
  border-radius: 0.5rem;
}

.icon-shape i {
  color: #fff;
  opacity: 0.8;
  top: 11px;
  position: relative;
}

.icon-lg {
  width: 64px;
  height: 64px;
}

.icon-lg i {
  top: 31%;
  font-size: 1.5rem;
}

hr {
  border-top: none;
  height: 1px;
}

hr.horizontal.light {
  background-image: linear-gradient(90deg, rgba(255, 255, 255, 0), #fff, rgba(255, 255, 255, 0));
}


.border-radius-lg {
  border-radius: 0.5rem;
}

.border-radius-xl {
  border-radius: 0.75rem;
}

.navbar {
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.16);
}

.navbar .nav-link {
  color: #344767;
  padding: 0.5rem 1rem;
  font-weight: 400;
  font-size: 0.875rem;
}

.navbar-vertical .navbar-brand>img,
.navbar-vertical .navbar-brand-img {
  max-width: 100%;
  max-height: 2rem;
}


.navbar-vertical .navbar-nav .nav-link {
  display: flex;
  align-items: center;
  white-space: nowrap;
}

.navbar-vertical.navbar-expand-xs {
  display: block;
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  max-width: 15.625rem !important;
  overflow-y: auto;
  padding: 0;
  box-shadow: none;
}

.navbar-vertical.navbar-expand-xs.fixed-start {
  left: 0;
}

.navbar-vertical.navbar-expand-xs .navbar-nav .nav-link {
  padding-top: 3rem;
  padding-bottom: 0.75rem;
  margin: 0 1rem;
  margin-bottom: 1.5px;
}

.sidenav {
  z-index: 9999;
}

.sidenav .navbar-brand {
  display: block;
}

.sidenav.fixed-start+.main-content {
    margin-left: 17.125rem;
}

.sidenav .navbar-brand {
  padding: 1.5rem 2rem;
}

body {
  font-weight: 400;
  line-height: 1.6;
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

h2 {
  font-size: 2.25rem;
  line-height: 1.3;
  letter-spacing: 0.05rem;
}

.font-weight-bold {
  font-weight: 600 !important;
}

.font-weight-bolder {
  font-weight: 700 !important;
}

footer {
  position: fixed;
  left: 0px;
  right: 50px;
  bottom: 10px;
  width: 98%; 
}


.search-container {
  text-align: center;
}

.search-bar {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 20px;
  width: 300px;
  font-size: 16px;
}

.search-button {
  padding: 10px 20px;
  background-color: orange;
  color: white;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
}

.search-button:hover {
  background-color: #EC407A;
}