body, html {
  height: 100%;
  margin: 0;
}

.container {
  display: flex;
  height: 100%;
}

.box {
  flex: 1;
  background-color: black;
  color: white;
  padding: 20px;
}

.box:first-child {
  margin-right: 20px;
}

.products {
  display: flex;
  flex-wrap: wrap;

}

.product {
  width: 20%; 
  margin-bottom: 10px; 
}
.send_book {
  background-color: #007bff;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.send_book:hover {
  background-color: #0056b3;
}