
.site-map {
  max-height: 600px;
}

.product {
  width: fit-content; 
}

.reservation-form {
  max-height: fit-content;
}
/*****MESSAGES.HTML*****/

#messages-container {
  position: fixed;
  top: 94px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  max-width: fit-content;
}

.svg-container {
  width: 20px;
  height: 20px;
}

.svg-container svg {
  width: 100%;
  height: 100%;
  fill:#0056b3;
}

.fade-out {
  opacity: 0;
  transition: opacity 1s ease-out;
}

/*****NAV*****/

.nav-link {
  color: black;
  text-decoration: none;
  display: inline-block;
  position: relative;
}
.nav-link:after {
  bottom: -8;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: black;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
.nav-link:hover:after {
  width: 100%;
  left: 0;
}

.nav-link.is-active {
  text-decoration: underline;
  text-decoration-color: black;
  text-decoration-thickness: 2px;
  text-underline-offset: 12px;
}