<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600" rel='stylesheet' type='text/css'>
    <link href="https://netdna.bootstrapcdn.com/font-awesome/3.1.1/css/font-awesome.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <title>{% block title %}Log-in{% endblock %}</title>
</head>
<body>
    <div class="container pt-3">
        <a class="navbar-brand" href={% url "main" %}>
            <img src="{% static "imgs/logo.svg" %}" alt="Jhoola" id="logo">
        </a>
        <div class="login d-flex justify-content-center align-items-center mx-auto">
            <div class="loginbox col-12 d-flex flex-column justify-content-center align-items-center">
                <h1>Login</h1>
                <form method="post" class="col-12 d-flex flex-column">
                    <hr>
                    {% block content %}
                        {% if messages %}
                            <ul class="messages">
                                {% for message in messages %}
                                    <li class="{{ message.tags }}">
                                        {{ message|safe }}
                                    </li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                        {% if form.errors %}
                            <p>
                                Your username and password didn't match. Please try again.
                            </p>
                        {% endif %}
                        <div class="labels col-12 d-flex flex-column justify-content-center">
                            <p><label id="icon" for="id_username">
                                    <i class="icon-user"></i>
                                </label>
                                {{ form.username }}
                            </p>
                            <p><label id="icon" for="id_password">
                                    <i class="icon-shield"></i>                  
                                </label>
                                {{ form.password }}  
                            </p>
                        </div>
                        <div class="logbtn d-flex">
                            <input class="btn btn-primary col-12" type="submit" value="Send">
                        </div>
                    {% endblock %}
                    {% csrf_token %}
                </form>
            </div>
        </div>
    </div>
    <footer class="footer mt-auto py-3 fixed-bottom">
        <div class="container text-center">
            <span class="text-white">© 2024 <strong>Jhoola</strong></span>
        </div>
    </footer>
</html>